{% extends "header.html" %} {% block headertext %} Game Catalog {%endblock%} {%
block content %}
<div class="card-wrapper">
  {% for i in range(0,gamelist|length) %}
  <div class="card">
    <a href="/game/{{ gamelist[i].id }}">
      <h2>{{ gamelist[i].title }}</h2>
      <p>{{ gamelist[i].author }}</p>
      <img
        class="max"
        src="{{ url_for('static', filename='images/csh_tilted.png') }}"
      />
      <p>{{ gamelist[i].desc }}</p>
    </a>
  </div>

  {% endfor %}
</div>
{% endblock %}
