{% extends "header.html" %} {% block headertext %} Credits {%endblock%} {% block
content %}
<h2>Contributors</h2>
<p>
  Many people have contributed to the different aspects of the Devcade project.
  Listed below (alphabetically) are the names of those who contributed to the
  core of the project
</p>
{% for year in contributors %}
<div class="menubox" id="{{ year }}" onclick="setTimeframe('{{year}}')">
  {{ year }}
</div>
{% endfor %}
<h2 id="yearBox"></h2>
<div class="slide-box">
  {% for year in contributors %}
  <div class="card-wrapper {{year}} hidden">
    {% for i in range(0,contributors[year]|length) %} {% set i =
    contributors[year][i] %} {% if i.link != "" %}
    <a href="{{ i.link }}">
      {% endif %}
      <div
        class="game-card"
        style="background-image: url({{ url_for('static', filename='images/csh_tilted.png') }})"
      >
        <img
          class="game-icon"
          src="https://www.gravatar.com/avatar/{{ i.emailHash }}?d=identicon"
        />
        <div class="game-name">
          <div>
            <h2>{{ i.name }}</h2>
            <h3></h3>
          </div>
        </div>
        <div class="game-desc"><div>{{ i.desc }}</div></div>
      </div>
      {% if i.link != "" %}
    </a>
    {% endif %} {% endfor %}
  </div>
  {% endfor %}
  <script>
    setTimeframe("{{ last_year }}");
  </script>
</div>
{% endblock %}
