{% extends "header.html" %} {% block headertext %} Credits {%endblock%}
{% block content %}
<h2>Contributors</h2>
<p>Many people have contributed to the different aspects of the Devcade project. Listed below (alphabetically) are the names of those who contributed to the core of the project</p>
<div class="card-wrapper">
    {% for i in range(0,contributors|length) %}
    {% if contributors[i].link != "" %}
    <a href="{{ contributors[i].link }}">
    {% endif %}
      <div class="game-card" style="background-image: url({{ url_for('static', filename='images/csh_tilted.png') }})">
        <img class="game-icon" src="https://www.gravatar.com/avatar/{{ contributors[i].email }}?d=identicon" />
        <div class="game-name">
          <div>
            <h2>{{ contributors[i].name }}</h2>
            <h3></h3>
          </div>
        </div>
        <div class="game-desc"><div>{{ contributors[i].desc }}</div></div>
      </div>
    {% if contributors[i].link != "" %}
    </a>
    {% endif %}
  
    {% endfor %}
  </div>
{% endblock %}
