{% extends "header.html" %} {% block title %}Devcade - {{game.name}}
{%endblock %} {% block content %}
<div class="card-wrapper">{{ gamecard(game) }}</div>
<div class="card-wrapper">
  <a class="btn btn-red" href="/download/{{ game.game_id }}">Download Game</a>
</div>
{% if current_user.admin or current_user.id == game.author %}
<h2>Admin stuff:</h2>
<div class="card-wrapper">
  <a class="btn btn-red" href="/edit/{{ game.game_id }}">Edit</a>
  <a class="btn btn-red" href="/admin/delete/{{ game.game_id }}">Delete</a>
</div>
{% endif %} {% endblock %}
