{% extends "header.html" %} {% block title %}Devcade - {{game.name}}
{%endblock %} {% block content %}
<div class="card-wrapper">{{ gamecard(game) }}</div>
<div class="card-wrapper">
  {% for tag in game.tags %}
  <a class="btn btn-red" href="/catalog?tag={{tag.name|quote_plus}}">{{tag.name}}</a>
  {% endfor %}
</div>
{% if game.hash %}
<div class="card-wrapper">
  <a class="btn btn-red" href="/download/{{ game.id }}">Download Game</a>
</div>
{% endif %}
{% if current_user.admin or current_user.id == game.author %}
<div class="card-wrapper">
  <a class="btn btn-red" href="/game/{{ game.id }}/upload">Upload</a>
  <a class="btn btn-red" href="/edit/{{ game.id }}">Edit</a>
  <a class="btn btn-red" href="/admin/delete/{{ game.id }}">Delete</a>
</div>
{% endif %} {% endblock %}
