{% macro gamecard(game) %}
<a href="/game/{{ game.id }}">
	<div class="game-card" style="background-image: url({{ config['DEVCADE_API_URI'] }}games/{{ game.id }}/banner)">
		<img class="game-icon" src="{{ config['DEVCADE_API_URI'] }}games/{{ game.id }}/icon" />
    <div class="game-name">
      <div>
        <h2>{{ game.name }}</h2>
        <h3>{{ game.author }}</h3>
      </div>
    </div>
    <div class="game-desc"><div>{{ game.description }}</div></div>
  </div>
</a>
{% endmacro %}

{% block header %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/devcade.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='js/responsive.js') }}"
      type="text/javascript"
    ></script>
    <title>{% block title %}Devcade{% endblock %}</title>
  </head>
  <body onload="dropdown_init()">
    <div id="navBar">
      <div class="crate">

        {% if config.DEVCADE_IS_DEV %}
        <a href="/" class="title">
          <img
            style="height: 3em"
            src="{{ url_for('static', filename='images/DevcadeDevLogoNoText.png') }}"
          />
          <h1>Devcade</h1>
        </a>
        {% else %}
        <a href="/" class="title">
          <img
            style="height: 3em"
            src="{{ url_for('static', filename='images/DevcadeLogoNoText.png') }}"
          />
          <h1>Devcade</h1>
        </a>
        {% endif %}
        <div class="dropdown-toggle">
          <img
            src="{{ url_for('static', filename='icons/picklist.svg') }}"
            class="navbar-toggler-icon"
          />
        </div>

        <div id="nav" class="dropped hidden">
          <div class="item"><a href="/">Home</a></div>
          <div class="item"><a href="/catalog">Games</a></div>
          <div class="item"><a href="https://devcade-docs.csh.rit.edu">Docs</a></div>
          {% if current_user.is_authenticated %}
          <div class="item"><a href="/upload">Upload</a></div>
          <div class="item" id="account">
            <div class="dropdown-toggle" href="#" id="user01">
              <img class="navUser" src="{{ current_user.picture }}" id="pfp" />
              <div id="uname">
                {{ current_user.firstname }} {{ current_user.lastname }}
              </div>
              <span class="caret"></span>
            </div>
            <div class="dropdown-menu dropped hidden">
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="/user">User Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>
          {% else %}
          <div class="item" id="account">
            <div class="dropdown-toggle" href="#" id="user01">
              <img
                class="navUser"
                src="{{ url_for('static', filename='images/guest.png') }}"
                id="pfp"
              />
              <div id="uname">Guest</div>
              <span class="caret"></span>
            </div>
            <div class="dropdown-menu dropped hidden">
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="/login?goto={{ request.endpoint }}"
                >Log in</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="alertBar">
      <h1>We're hosting a week-long Gamejam open to all RIT students! <b><a href="/gamejam">Learn more</a></b></h1>
    </div>
    <div class="header">
      <img
        id="bg"
        src="{% block bgSRC %}{{ url_for('static', filename='images/DevcadeLogo.png') }}{% endblock %}"
        alt="background"
      />
      <h1>{% block headertext %}{%endblock%}</h1>
    </div>
    <!-- <div id="spaceholder"><h1>L</h1></div> -->
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="feet">
      <div class="feet-flex" id="feet-quote">
        <p>"For developers, by developers"</p>
      </div>
      <div class="feet-flex">
        <a href="https://csh.rit.edu">
          <div class="social">
            <img
              alt="CSH"
              src="{{ url_for('static', filename='icons/csh_logo_square.svg') }}"
            />
          </div>
        </a>
        <a
          href="https://github.com/topics/devcade?q=org%3AComputerScienceHouse"
        >
          <div class="social">
            <img
              alt="github"
              src="{{ url_for('static', filename='icons/github.svg') }}"
            />
          </div>
        </a>
        <a href="https://instagram.com/ComputerScienceHouse">
          <div class="social">
            <img
              alt="instagram"
              src="{{ url_for('static', filename='icons/instagram.svg') }}"
            />
          </div>
        </a>
        <a href="https://twitter.com/RITCSH/">
          <div class="social">
            <img
              alt="twitter"
              src="{{ url_for('static', filename='icons/twitter.svg') }}"
            />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>

{% endblock %}
