{% extends "header.html" %}
{% block title %}{{title}}{% endblock %}
{% block headertext %} Upload Files {%endblock%}
{% block content %}
{% if current_user.is_authenticated %}
</div>
<div id="filedrop-wrapper">
    <div class="card">
        <h2>Drop your files here:</h2>
        <form action = "/upload_game" method="POST" enctype="multipart/form-data">
        <img style="border-color:gray;border-style: dashed" src="{{ url_for('static', filename='images/csh_tilted.png') }}" />
        <input type="file" name="file" accept=".zip">
        <input type="submit"><a class="btn btn-red" href="/upload" id="apply">Upload</a></input>
        </form>
    </div>
    <div class="card">
        <h2>How to Upload:</h2>
        <ol>
            <li>Navigate to the folder containing your Monogame game.</li>
            <li>Run <br><code>dotnet publish -c Release -r linux-x64 --no-self-contained</code></li>
            <li>Navigate to the newly created publish folder.</li>
            <li>Create a manifest.json file with <u><a href="">this format</a></u> in that folder</li>
            <li>Create a zip archive of all files in this folder</li>
            <li>Upload file</li>
        </ol>
    </div>
    <h1>Your files:</h1>
</div>
<div id="content-wrapper">
{% for i in range(0,gamelist|length) %}
{% if gamelist[i].author == current_user.id %}
<div class="card">
    <h2>{{ gamelist[i].title }}</h2>
    <p>{{ gamelist[i].author }}</p>
    <img src="{{ url_for('static', filename='images/csh_tilted.png') }}" />
    <p>{{ gamelist[i].desc }}</p>
    <p></p>
    <a class="btn btn-red" href="">Edit</a>
</div>
{% endif %}
{% endfor %}
{% else %}
<p id="description">You gotta log in, dipshit.</p>
{% endif %}
{% endblock %}