/* 
    I put random stuff here for now
    because I can't find anything that
    looks half decent
*/

body{
    background-color:blanchedalmond;
}
header{
    text-align: center;
    background-color: khaki;
}
#description{
    background-color: blueviolet;
    color: wheat;
}