:root {
    --csh-primary: #B0197E;
    --csh-secondary: #E11C52;
    --csh-tertiary: #340526;
    --bg: #25021A;
    --fg: #FFFFFF;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
}

.navbar-devcade {
    font-size: 24px;
    padding-left: 3.2rem;
    background: url("../../public/img/DevcadeLogoNoText.png") 0/2.2rem no-repeat;
    display: inline-block;
    padding-top: 0.34766rem;
    padding-bottom: 0.34766rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    text-align: center;
}

#navbar .nav-link {
    margin: 0px 1em;
    font-size: 18px;
    text-align: end;
}

.container {
    margin: 0px;
    padding: 0px;
}